.money-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/money_background_1.jpg");
}

.bb-thin-gray {
    border-bottom-style: solid;
    border-bottom-width: .1px;
    border-bottom-color: rgb(52,55,61);
}

.bg-money-color-see-through {
    background-color: rgba(66, 146, 68, 0.95);
}

.bg-money-color {
    background-color: rgb(66, 146, 68);
}

.bg-custom-darker-gray {
    background-color: rgb(34,37,42);
}

.bg-custom-lighter-gray {
    background-color: rgb(45,48,53);
}

.bg-custom-gray {
    background-color: rgb(138,141,147);
}
/*#8a8d93*/

.custom-gray {
    color: rgb(138,141,147);
}

.custom-lighter-gray {
    color:  rgb(45,48,53);
}

.fill-custom-gray {
    fill:  rgb(138,141,147);
}

.fill-lighter-gray {
    fill:  rgb(45,48,53);
}

.money-color {
    color: rgb(66, 146, 68);
}

.fill-money-color {
    fill:  rgb(66, 146, 68);
}

.width-60-px {
    width: 60px;
}

.width-80-px {
    width: 80px;
}

.width-120-px {
    width: 120px;
}

  .money-hover:hover,
  .money-hover:active,
  .money-hover:focus {
    color: rgb(66, 146, 68);
  }

  .fill-money-hover:hover,
  .fill-money-hover:active,
  .fill-money-hover:focus {
    fill: rgb(66, 146, 68);
  }

  .darker-gray-hover:hover,
  .darker-gray-hover:active,
  .darker-gray-hover:focus{
    background-color: rgb(34,37,42);
  }

  .lighter-gray-hover:hover,
  .lighter-gray-hover:active,
  .lighter-gray-hover:focus{
    background-color: rgb(45,48,53);
  }

@media screen and (max-width: 30em) {
    .display-none-s {
        display: none
    }

    .h1point5-s {
        height: 1.5rem;
    }

    .w1point5-s {
        width: 1.5rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .display-none-m {
        display: none;
    }
    .min-vh-75-m {
        min-height: 75vh;
    }

    .h2point25-m {
        height: 2.25rem;
    }

    .w2point25-m {
        width: 2.25rem;
    }
}

@media screen and (min-width: 60em) {
    .display-none-l {
        display: none;
    }
    .min-vh-75-l {
        min-height: 75vh;
    }
    .h2point25-l {
        height: 2.25rem;
    }

    .w2point25-l {
        width: 2.25rem;
    }
}
